*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(36, 24, 24);
}

header{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header section{
    background-color: white;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}


main{
    background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZ3JhbWFjaW9ufGVufDB8fDB8fHww&w=1000&q=80);
     background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center top;
    z-index: -1;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main section{
    background-color: rgb(52, 134, 197);
    width: 50%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    border: 5px rgb(13, 11, 11) solid;
    margin-top: 20px;
}

main section h5{
    font-size: 20px;
}


.hacks {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 10px 89px ;
    justify-content: center;
    align-items: center;
    line-height: 10px;
}


.hacks section{
    background-color: rgb(52, 134, 197);
    width: 12%;
    height: 20%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 5px rgb(18, 15, 15) solid;
}


.hacks h1{
    font-size: 30px;
    color: black;
}

a{
    text-decoration: none;
}
span{
    color: black;
}

.hacks > section:nth-child(odd){
    background-color: rgb(58, 221, 26);

}